/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  /* TODO: 1400px? */
  --max-width: 1400px;

  --color-primary: #f0f0f8;

  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-krieg: 'Krieg';
  --font-family-heading: 'GT-Maru-Mega-Midi-Trial';


  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 50px;
}

body {
  background-color: rgba(250, 253, 249, 1);
}

@font-face {
  font-family: 'Krieg';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Krieg.otf) format('woff');
}

@font-face {
  font-family: 'Maru-Mega-Midi';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mega-Midi-Trial.otf) format('woff');
}

@font-face {
  font-family: 'GT Maru Light';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/GTMaruLight.woff) format('woff');
}

@font-face {
  font-family: 'Maru-Mono-Light';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mono-Light-Trial.otf) format('woff');
}

@font-face {
  font-family: 'Maru-Mono-Regular';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mono-Regular-Trial.otf) format('woff');
}

@font-face {
  font-family: 'Maru-Mono-Regular-Oblique';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mono-Regular-Oblique-Trial.otf) format('woff');
}

@font-face {
  font-family: 'Pokemon';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/LmsPokemonMasterSolid-LEjG.ttf) format('woff');
}

@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/domine.ttf) format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/nunito.ttf) format('woff');
}

/* Layout */
.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: calc(var(--spacing) * 2);
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;

}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1.2px solid rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

header p {
  padding-left: 2em;
  font-size: 2em;
  font-family: 'Maru-Mega-Midi';
  color: #ff0090;
}

header img {
  margin-right: 2em;
}

.logo-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5em;

}

.links {
  display: flex;
  flex-direction: row;

  margin: 2em;
}

.links a {
  display: inline-block;
}






.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}


.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #3d392c;
}

.video-background {
  top: 0;
  left: 0;
  width: 100%;
  /* Maintain full width */
  height: 40em;
  /* Set the desired shorter height */
  object-fit: fill;
  /* Adjust this value to hide the overflowing part */
  z-index: -1;
}


.footer-content {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set a maximum width */
  justify-content: center;

}

.footer-content p {
  text-align: center;
  font-family: 'Krieg';
  color: #fff;
  font-size: 3rem;

}





.lower-body {
  margin: 50px;
}



.button-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start
    /* Stack buttons vertically */
  ;
  /* Center buttons horizontally */
  margin-left: 3rem;
  margin-top: 2rem;

}

.button-row a {
  display: block;
  /* Display buttons as block elements */
  /* Allow button width to adjust */
  padding: 10px 15px;
  /* Adjust padding for smaller screens */
  font-size: 0.8rem;
  /* Adjust font size for smaller screens */
  text-decoration: none;
  background-color: #ffffff;
  border: 1.2px solid rgba(0, 0, 0, 1);
  color: #000;
  font-weight: bolder;
  font-family: 'Maru-Mono-Light', sans-serif;
  border-radius: 30px;
  width: 7rem;

  margin: 5px 0;
  text-align: center;
  /* Add margin to separate buttons vertically */
}


.button-row a:hover {

  /* Set the border color on hover */
  background-color: white;
  border-color: greenyellow;
  color: greenyellow;

}

.cards {

  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card-link {
  display: block;
  /* Make the <a> element behave like a block element */
  width: 100%;
  /* Fill the entire width of its container */
  text-decoration: none;
  /* Remove underlines for links */
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1.2px solid rgba(0, 0, 0, 1);
  border-radius: 0.7em;

  width: 100%;
  overflow: hidden;
  font-family: 'Maru-Mono-Light', sans-serif;
  text-decoration: none;
  color: #000;
}





.project-body-left img {
  max-height: 65rem;
  max-width: 25rem;
}



.project-body-right {
  font-family: 'Maru-Mono-Regular';
  display: flex;
  flex-direction: column;
  gap: 2rem;
  order: -1;
}

.project-body-right p {
  line-height: 2rem;
}

.project-body-right a {
  text-decoration: none;
  font-size: larger;
  color: #000;
}

.project-body-right a:hover {
  color: greenyellow;
}





.about-body-left,
.about-body-right {
  flex: 1;
  /* Distribute available space evenly */
  /* Optional: Add padding for spacing */

}

.about-body-right {
  font-family: 'Maru-Mono-Regular';
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-body-right p {
  line-height: 2rem;
}

.abt-block-1,
.abt-block-2,
.abt-block-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.abt-block-2 {
  border-top: 1.2px solid rgba(0, 0, 0, 1);
  border-bottom: 1.2px solid rgba(0, 0, 0, 1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.resume-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.resume-body embed {
  width: 100%;
  /* Adjust the width for smaller screens */
  height: 800px;
  /* You can adjust the height as well if needed */
}

.resume-body a {
  font-size: 1.5rem;
  color: rgb(255, 0, 144);
  font-family: 'Maru-Mono-Regular';


}

.resume-body a:hover {
  color: greenyellow;
}

.cupcake-box {
  max-width: 100%;
  /* Add a maximum width to the container */
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;


}


.cupcake-box img {
  max-width: 100%;
  /* Limit the width of the gif within its container */
  height: auto;
}





.card>.image {
  order: -1;
  height: 300px;
}

.card>.image img {
  object-fit: cover;
  object-position: 50% 50%;


  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  width: 100%;
  height: 300px;
}

.card>.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card:hover {
  border-color: greenyellow;
  /* Change border color on hover */

}

.card>.content>.project-name {
  border-bottom: 1.2px solid rgba(0, 0, 0, 1);
  border-top: 1.2px solid rgba(0, 0, 0, 1);
  padding: 1em;
}

.card:hover>.content>.project-name {
  border-bottom: 1.2px solid rgb(173, 255, 47);
  border-top: 1.2px solid greenyellow;
}

.card>.content>.project-date {
  margin: 1em;

}

.museum-body {
  display: flex;
  flex-direction: column;
  font-family: 'Maru-Mono-Regular';
}

.museumItem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  /* Center align gif and title vertically */
  justify-content: space-between;
  margin-bottom: 6rem;
  /* Add spacing between museumItems */
}

.museumItem-gif {
  flex: 1;
  /* Take 50% of available space */
}

.museumItem-gif img {
  max-width: 100%;
  /* Limit the width of the gif within its container */
  height: auto;
  /* Maintain the aspect ratio */
}

.museumItem-title {
  flex: 1;
  /* Add spacing between gif and title */
  text-align: center;
}

.museumItem-title-right {
  flex: 1;
  order: -1;
  text-align: center;
}

.more-to-come {
  font-family: 'Maru-Mono-Regular';
  text-align: center;
}

.pikkolosolution {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-bottom: 3rem;
  font-family: 'Maru-Mono-Light';
  font-size: 0.7rem;
}

.pikkolosolution p {
  width: 25rem;
}

.project-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* Distribute space evenly between child elements */

}

.museumbody{
  background-color: #fff;
}




@media (min-width: 1000px) {
  .museumItem {
    display: flex;
    flex-direction: row;
  }


}

/*media query fyrir þegar mynd er >= 600 px*/
@media (min-width: 750px) {
  main {
    gap: var(--gutter);
  }


  .wrapper {
    gap: calc(var(--gutter));
  }

  .cards {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gutter);
    max-width: var(--max-width);
  }

  .card {
    grid-column-start: span 6;
    /* max-width: calc(50% - var(--spacing) / 2); */
  }

  .museumItem {
    display: flex;
    flex-direction: row;
  }

  .museumItem-title-right {
    order: 1;

  }

  .project-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .project-body-left,
  .project-body-right {
    flex: 1;
    /* Distribute available space evenly */

    /* Optional: Add padding for spacing */
  }

  .project-body-right {
    order: 1;
  }

  .project-body-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;


  }

  .about-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    /* Distribute space evenly between child elements */

  }

  .cupcake-box {
    margin-right: 2rem;
  }

  .cupcake-box {
    margin-top: 10rem;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
    gap: 1rem;

  }

  .button-row a {
    padding: 15px 25px;
    /* Adjust padding for the bigger button */
    font-size: 1rem;
    /* Adjust font size for the bigger button */
    width: 10rem;
  }


  .resume-body {
    max-width: 70%;
    /* Set a maximum width for the resume container */
    margin: 0 auto;
    /* Center the container horizontally */
  }


}