/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  /* TODO: 1400px? */
  --max-width: 1400px;

  --color-primary: #f0f0f8;

  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-krieg: 'Krieg';
  --font-family-heading: 'GT-Maru-Mega-Midi-Trial';


  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 50px;
}

body{
  background-color: rgba(250, 253, 249, 1);
}

@font-face {
  font-family: 'Krieg';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Krieg.otf) format('woff');
}

@font-face {
  font-family: 'Maru-Mega-Midi';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mega-Midi-Trial.otf) format('woff');
}
@font-face {
  font-family: 'GT Maru Light';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/GTMaruLight.woff) format('woff');
}

@font-face {
  font-family: 'Maru-Mono-Light';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mono-Light-Trial.otf) format('woff');
}

@font-face {
  font-family: 'Maru-Mono-Regular';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mono-Regular-Trial.otf) format('woff');
}

@font-face {
  font-family: 'Maru-Mono-Regular-Oblique';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/GT-Maru-Mono-Regular-Oblique-Trial.otf) format('woff');
}

@font-face {
  font-family: 'Pokemon';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/LmsPokemonMasterSolid-LEjG.ttf) format('woff');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/domine.ttf) format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  src: url(./fonts/nunito.ttf) format('woff');
}

/* Layout */
.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: calc(var(--spacing) * 2);
  margin: 0 auto;
}

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: #ffffff;

  background-color: skyblue;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-image: url(./images/header.png);
}

header .content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);

  margin: auto;

  text-align: center;
}

header h1 {
  font-size: 4rem;
  font-family: 'Krieg';
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  background-image: linear-gradient(rgba(247, 127, 190, 1), rgba(4, 117, 192, 0.47));
}

footer .content {
  text-align: center;
}

.lower-body {
  margin: 50px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5em;


}

.button-row a {
  display: inline-block;
  padding: 15px 35px;
  margin: 5px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1.2px solid rgba(0, 0, 0, 1);
  color: #000;
  font-weight: bolder;
  font-family: 'Maru-Mono-Light', sans-serif;
}

.button-row a:hover {

  /* Set the border color on hover */
  background-color: white;
  border-color: greenyellow;
  color: greenyellow;

}

.cards {

  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1.2px solid rgba(0, 0, 0, 1);
  border-radius: 0.7em;
  
  width: 100%;
  overflow: hidden;
  font-family: 'Maru-Mono-Light', sans-serif;
}

.card > .image {
  order: -1;
  height: 300px;
}

.card > .image img {
  object-fit:cover;
  object-position: 50% 50%;


  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  width: 100%;
  height: 300px;
}

.card > .content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card:hover {
  border-color: greenyellow; /* Change border color on hover */
 
}




.card > .content > .project-name{
  border-bottom: 1.2px solid rgba(0, 0, 0, 1);
  border-top: 1.2px solid rgba(0, 0, 0, 1);
  padding: 1em;
}

.card:hover > .content > .project-name {
  border-bottom: 1.2px solid greenyellow;
  border-top: 1.2px solid greenyellow;
}
.card > .content > .project-date{
  margin: 1em;

}

@media (min-width: 1000px) {


}

/*media query fyrir þegar mynd er >= 600 px*/
@media (min-width: 600px) {
  main {
    gap: var(--gutter);
  }





  .wrapper {
    gap: calc(var(--gutter));
  }

  .cards {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gutter);
    max-width: var(--max-width);
  }

  .card {
    grid-column-start: span 6;
    /* max-width: calc(50% - var(--spacing) / 2); */
  }
}